body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
  padding-top: 30px;
}
.intro {
  color: aliceblue;
  text-decoration: none;
}
.guide {
  padding-left: 100px;
  color: aliceblue;
  text-decoration: none;
}
.start-butt {
  border-radius: 10px;
  border-width: 5px;
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
  border-color: white;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
}
.replay {
  border-radius: 10px;
  border-width: 5px;
  padding: 10px;
  border-color: white;
  font-family: "Press Start 2P", cursive;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  margin: 3%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
